<div>
  <h1>Restaura tu contraseña</h1>
  <div style='text-align:center;'>
    <img src='cid:banner' />
  </div>
  <h3>¡Hola!</h3>
  <p>Puedes restaurar tu contraseña a partir del siguiente
    <a href="http://localhost:8080/password-restore?token={{token}}"> Link</a>
  </p>
  <p>Cordial saludo</p>
  <p>@HeroSystems</p>
</div>