<div>
    <h1>Bienvenid@ a la tienda de HeroSystems</h1>
    <div style="text-align:center;">
        <img src="cid:banner">
    </div>
    <h3>¡Hola, {{user.firstName}}!</h3>
    <p>¡Prepárate para una experiencia en nuestra tienda de productos de tecnologia!</p>
    <p>Desde ahora puedes comprar en nuestra tienda y mucho más.</p>
    <br>
    <p>Invita a tus amigos porfa</p>
    <h2>Puedes comenzar a ver nuestra lista de productos <a href="http://localhost:8080/login"
            style="color:rgb(0, 217, 255);">Aquí</a></h2>
    <p>Cordial Saludo</p>
    <p>@HeroSystems</p>
</div>