<h1 class="title">Restablece tu contraseña</h1>

<form class="form" id="restoreForm">
    <input type="password" name="newPassword">
    <button type="submit" class="btn btn-card btn-block mb-2">Enviar contraseña</button>
</form>

<script src="/js/PasswordRestore.js"></script>