<h1 class="title">Registro de Usuario</h1>

<div>
    <form class="form" id="registerForm">
        <label>Nombre</label><input type="text" name="first_name">
        <br>
        <label>Apellido</label><input type="text" name="last_name">
        <br>
        <label>Email</label><input type="email" name="email">
        <br>
        <label>Edad</label><input type="number" name="age">
        <br>
        <label>Contraseña</label><input type="password" name="password">

        <input type="submit"class="btn btn-card btn-block mb-2"></button>
    </form>
</div>

<script src="/js/register.js"></script>